<div class="homepage-container">
<div class="section-title normal-size-title">
   Contact Us
</div>
<div class="map-container">
   <div class="map-frame">
      <div class="map-title">Westville Studio</div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3461.0165078854525!2d30.907603915387128!3d-29.834945281959023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ef70181c428e405%3A0x40bb118e6b6b7944!2sThe%20Movement%20Space%20Westville!5e0!3m2!1sen!2sbo!4v1668920161651!5m2!1sen!2sbo" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
   </div>
   <div class="map-frame">
      <div class="map-title">Musgrave Studio</div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3460.765131989121!2d30.993262715387104!3d-29.842200481956294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ef70756e8223ddb%3A0x6a40e25eab59ed15!2s260%20Peter%20Mokaba%20Ridge%2C%20Musgrave%2C%20Berea%2C%204001%2C%20South%20Africa!5e0!3m2!1sen!2sus!4v1669240329562!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
   </div>
</div>
<div class="contact-container">
   <div class="info-container">
      <div style="font-weight:600; margin-bottom:15px;">
         THE MOVEMENT SPACE 
      </div>
      <div style="margin:10px 0px;">
         <div style="font-weight:600;">
            All Enquiries
         </div>
         <ul class="info-li">
            <li>info@themovementspace.co.za</li>
            <li> +27 735699075</li>
            <li> @themovementspacesa</li>
         </ul>
      </div>
      <div style="margin:10px 0px;">
         <div style="font-weight:600;">
            Addresses
         </div>
         <ul class="info-li">
            <li> 2 Cedar Road, Westville</li>
            <li>260 Peter Mokaba Ridge Road, Musgrave</li>
         </ul>
      </div>
   </div>
   <div class="details-container">
      <div style="font-weight:600; margin-bottom:10px;">
         Contact Us
      </div>
      <div style="font-weight:300;">
         Fill out your details here and we’ll get back to you soon.
      </div>
      <a class="button-yellow" style="margin-top:20px;" href="https://api.whatsapp.com/send?phone=27735699075" target="_blank">Contact Us</a>
   </div>
</div>
</div>