<div class="homepage-container">
<h1>Editing Workshop</h1>
<%= render "form", article: @article %>
<br>
<div>
  <%= link_to "Back to admin workshops", new_article_path(@article) %> |
  <%= link_to "Back to articles", store_path %>
</div>
</div>
