<div class="homepage-container">
   <h1 class="main-text">The Movement Space</h1>
   <h3 class="subtitle-container">
      <ul>
         <li>Pilates</li>
         <li>Yoga</li>
         <li>Dance</li>
      </ul>
   </h3>
   <div class="image-carousel-cont">
      <%= image_tag 'homepage1.jpg', class: "homepage-images"%>
   </div>
   <div class="subtitle-words cap-on">Inspiring strength and wellbeing
      </br>
      through mindful movement
   </div>
   <div class="main-button">
      <a class="button-green size-green" href="https://bookamat.co/embed/the-movement-space" target="_blank">Book A Class</a>
   </div>
   <div class="section-container">
      <div class="init-title">
         GET INSPIRED
      </div>
      <div class="section-title">
         Our Studio
      </div>
      <div class="section-text" style="text-align:center; padding: 0px 14px;">
        We can’t be brave in the big world without at least one small safe space to work through our fears and our falls; and to build on our strengths both physically and mentally.
      </div>
   </div>
   <div class="studio-section-two">
      <div class="studio-musgrave">
         <div class="image-studio-cont">
            <%= image_tag 'musgravestudio.png', style:"border-radius: 5px;", class: "homepage-images"%>
         </div>
      </div>
      <div class="studio-two">
         <div class="init-title">
            260 Peter Mokaba Ridge Road
         </div>
         <div class="section-title">
            Musgrave Studio
         </div>
         <div class="section-text">
            With safe parking and an easy to access location, our Musgrave Studio boasts a lovely garden view from the main studio space, hosting 12 students at a time.
         </div>
         <a class="button-yellow" href="mailto:info@themovementspace.co.za" target="_blank">Contact Us</a>
      </div>
   </div>
   <div class="schedules">
      <div class="init-title">
         Musgrave studio
      </div>
      <div class="section-title">
         Our Schedule
      </div>
      <div class="schedule-img-cont">
         <%= image_tag 'musgrave.png', class: "homepage-images"%>
      </div>
   </div>
   <div class="line-cont">
      <div class="line"></div>
   </div>
   <div class="consultation">
      <div class="init-title">
         Let´s talk
      </div>
      <h1 style="margin:0px">
         BOOK ONE OF OUR CLASSES NOW
      </h1>
      <div class="section-text" style="max-width:400px;">
        If you are a complete beginner, please schedule a once off private session with our team by filling in the contact form below. Alternatively, press the “Book A Class” button to join a group class.
      </div>
       <a class="button-green" style="margin-top:10px; text-align:center;" href="https://bookamat.co/embed/the-movement-space" target="_blank">Book A Class</a>
   </div>
</div>