<div class="homepage-container">

<h1 class="main-text">The Movement Space</h1>

<h3 class="subtitle-container">
<ul>
 <li>Pilates</li>
 <li>Yoga</li>
 <li>Dance</li>
</ul>
</h3>

<div class="image-carousel-cont">
<%= image_tag 'homepage1.jpg', class: "homepage-images"%>
</div>

<div class="subtitle-words">inspiring strength and wellbeing </br>
through mindful movement </div>

<div class="main-button">
<button class="button-green" style="font-size: 18px">Book a class</button>
</div>


<div class="section-container">
<div class="init-title">
GET INSPIRED
</div>

<div class="section-title">
Our studios
</div>

<div class="section-text">
We can’t be brave in the big world without at least one small safe space to work through our fears and falls.” And to build on our strengths both physically and mentally.
</div>

</div>
</div>