<div class="homepage-container">
   <div class="section-title normal-size-title">
      Group & Private Prices
   </div>
   <p class="subtitle" style="max-width: 890px;">All packages can be used across both our studios.</p>
   <div class="image-about-cont">
      <%= image_tag 'prices-pilats.jpg', class: "homepage-images"%>
   </div>
   <div class="price-line">
      <div class="line"></div>
   </div>
   <div class="price-container">
      <div class="price-title">
         <h4>
         Group Prices
         <h4>
         <p>Include the use of studio mats and props as well as a wealth of knowledge from our collective 25 years of movement instruction.</p>
      </div>
      <div class="prices">
         <ul class="pricesfirst">
            <li>Drop In - R160</li>
            <li>4 classes - R590</li>
            <li>5 Classes - R710</li>
            <li>6 Classes - R820</li>
            <li>7 Classes - R945</li>
            <li>8 Classes - R1080</li>
         </ul>
         <ul>
            <li>9 Classes - R1190</li>
            <li>10 Classes - R1300</li>
            <li>Unlimited - R1650</li>
         </ul>
      </div>
   </div>
   <div class="price-line">
      <div class="line"></div>
   </div>
   <div class="price-container">
      <div class="price-title">
         <h4>
         Private Prices
         <h4>
         <p>Includes specialised attention to your posture and your physical needs; placing focus on your movement goals and progress throughout each session.</p>
      </div>
      <div class="prices">
         <ul class="pricesfirst">
            <li>Drop In - R450</li>
            <li>4 classes - R1660</li>
            <li>8 Classes - R3280</li>
         </ul>
         <ul style="width: 135px;">
            <li></li>
            <li></li>
            <li></li>
         </ul>
      </div>
   </div>
   <div class="price-line">
      <div class="line"></div>
   </div>
   <div class="price-container">
      <div class="price-title">
         <h4>
         Duet Prices
         <h4>
         <p>Share the cost with a friend or a family member & enjoy the benefits.</p>
      </div>
      <div class="prices">
         <ul class="pricesfirst">
            <li>Drop In - R670</li>
            <li>4 classes - R2370</li>
            <li>8 Classes - R4640</li>
         </ul>
         <ul style="width: 135px;">
            <li></li>
            <li></li>
            <li></li>
         </ul>
      </div>
   </div>
   <div class="price-line">
      <div class="line"></div>
   </div>
   <div class="price-container">
      <div class="price-title">
         <h4>
         Kids Group
         <h4>
         <p>Include the use of studio mats and props as well as wealth of knowledge from our collective 25 years of movement instruction.</p>
      </div>
      <div class="prices">
         <ul class="pricesfirst">
            <li>Drop In - R150</li>
            <li>4 classes - R550</li>
            <li>5 Classes - R660</li>
            <li>6 Classes - R760</li>
            <li>7 Classes - R875</li>
            <li>8 Classes - R1000</li>
         </ul>
         <ul>
            <li>9 Classes - R1100</li>
            <li>10 Classes - R1200</li>
            <li>Unlimited - R1450</li>
         </ul>
      </div>
   </div>
   <div class="price-line">
      <div class="line"></div>
   </div>
   <div class="price-container">
      <div class="price-title">
         <h4>
         Seniors Group
         <h4>
         <p>Include the use of studio mats and props as well as wealth of knowledge from our collective 25 years of movement instruction.</p>
      </div>
      <div class="prices">
         <ul class="pricesfirst">
            <li>Drop In - R150</li>
            <li>4 classes - R550</li>
            <li>5 Classes - R660</li>
            <li>6 Classes - R760</li>
            <li>7 Classes - R875</li>
            <li>8 Classes - R1000</li>
         </ul>
         <ul>
            <li>9 Classes - R1100</li>
            <li>10 Classes - R1200</li>
            <li>Unlimited - R1450</li>
         </ul>
      </div>
   </div>
   <div class="price-line">
      <div class="line"></div>
   </div>
</div>