<div class="homepage-container">
<div class="section-title" style="font-size:45px">
Group & private prices
</div>

<p class="subtitle" style="max-width: 890px;">All packages can be used across both our studios.</p>

<div class="price-line">
      <div class="line"></div>
</div>

<div class="price-container">
   <div class="price-title">
      <h4>
      Group prices
      <h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore </p>
   </div>
   <div class="prices">
      <ul class="pricesfirst">
         <li>Drop In - R160</li>
         <li>4 classes - R590</li>
         <li>5 Classes - R710</li>
         <li>6 Classes - R820</li>
         <li>7 Classes - R945</li>
         <li>8 Classes - R1080</li>
      </ul>
      <ul>
         <li>9 Classes - R1190</li>
         <li>10 Classes - R1300</li>
         <li>Unlimited - R1650</li>
      </ul>
   </div>
</div>

<div class="price-line">
      <div class="line"></div>
</div>

<div class="price-container">
   <div class="price-title">
      <h4>
      Private prices
      <h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore </p>
   </div>
   <div class="prices">
      <ul class="pricesfirst">
         <li>Drop In - R450</li>
         <li>4 classes - R1660</li>
         <li>8 Classes - R3280</li>
      </ul>
         <ul style="width: 135px;">
         <li></li>
         <li></li>
         <li></li>
      </ul>
   </div>
</div>


<div class="price-line">
      <div class="line"></div>
</div>


<div class="price-container">
   <div class="price-title">
      <h4>
      Duet prices
      <h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore </p>
   </div>
   <div class="prices">
      <ul class="pricesfirst">
         <li>Drop In - R670</li>
         <li>4 classes - R2370</li>
         <li>8 Classes - R4640</li>
      </ul>
       <ul style="width: 135px;">
         <li></li>
         <li></li>
         <li></li>
      </ul>
   </div>
</div>

<div class="price-line">
      <div class="line"></div>
</div>


<div class="price-container">
   <div class="price-title">
      <h4>
      Kids group
      <h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore </p>
   </div>
   <div class="prices">
      <ul class="pricesfirst">
         <li>Drop In - R150</li>
         <li>4 classes - R550</li>
         <li>5 Classes - R660</li>
         <li>6 Classes - R760</li>
         <li>7 Classes - R875</li>
         <li>8 Classes - R1000</li>
      </ul>
      <ul>
         <li>9 Classes - R1100</li>
         <li>10 Classes - R1200</li>
         <li>Unlimited - R1450</li>
      </ul>
   </div>
</div>

<div class="price-line">
      <div class="line"></div>
</div>


<div class="price-container">
   <div class="price-title">
      <h4>
      Seniors group
      <h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore </p>
   </div>
   <div class="prices">
      <ul class="pricesfirst">
         <li>Drop In - R150</li>
         <li>4 classes - R550</li>
         <li>5 Classes - R660</li>
         <li>6 Classes - R760</li>
         <li>7 Classes - R875</li>
         <li>8 Classes - R1000</li>
      </ul>
      <ul>
         <li>9 Classes - R1100</li>
         <li>10 Classes - R1200</li>
         <li>Unlimited - R1450</li>
      </ul>
   </div>
</div>

<div class="price-line">
      <div class="line"></div>
</div>
</div>