@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&family=Lato:wght@300&family=Lora:wght@500;700&display=swap');

/* general */
body {
    font-family: 'Inter', sans-serif;
    margin:0px;
}
h1 {
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 50px;
    color: #2E5A52;
    text-align: center;
}
h3{
    font-size: 18px;
    color: #C5A840;
    text-transform: uppercase;
    font-weight: 400;
}
.homepage-container{
    margin-top: 158px;
    text-align: center;
}
.main-text{
    margin-top: 41px;
    margin-bottom: 0px;
}
.button-green{
    height: 32px;
    background: #2E5A52;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-yellow{
    height: 32px;
    background: #C5A840;
    color:white;
    border:none;
    border-radius: 3px;
    padding: 5px 19px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    max-width: 100px;
    justify-content: center;
  }
.init-title{
    font-size: 10px;
    color: #C5A840;
    text-transform: uppercase;
    font-family: 'Inter';
    letter-spacing: 5px;
    margin: 10px
}
.section-container{
    background: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0px 60px 0px;
    margin: 106px 0px 50px 0px;
}
.section-title{
color: #2E5A52;
font-size: 31px;
font-family: 'Lora';
font-weight: 700;
}
.section-text{
color: #2E5A52;
font-family: 'Inter';
font-style: normal;
font-weight: 300;
max-width: 579px;
font-size: 16px;
margin: 16px 0px;
}

/* navbar */
.logo-size{
    width: 144px;
    height: 80px;
}
.navbar-test{
    position: fixed;
    width: 100%;
    top: 0px;
}
.navbar-background {
    background-color: white;
    color:#2E5A52;
    padding: 5px 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid #dfdfdf;
}
.navbar-background ul {
    background-color: white;
    display: flex;
    padding-left: 0px;
}
.navbar-background li {
    list-style-type: none;
    margin: 10px;
    padding-right: 25px;
}
.navbar-background li a {
    text-decoration: none;
    color: #2E5A52;
    font-weight: 300;
}
/* homepage */
.subtitle-container{
    display: flex;
    justify-content: center;
    margin-top:5px;
}
.subtitle-container ul{
    display:flex;
    margin: 0px;
    padding: 0px;
}
.subtitle-container li {
    margin: 12px;
}
.image-carousel-cont{
    margin: 0 auto;
    max-width: 614px;
}
.homepage-images{
    width: 100%;
    border-radius: 10px;
}
.subtitle-words{
    text-transform: uppercase;
    color: #2E5A52;
    font-size: 18px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}
.main-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 33px;
}
/* studios */
.studio-section{
    display: flex;
    justify-content: center;
    padding: 25px;
    margin: 0 auto;
    align-items: center;
}
.studio-westville{
    margin-right: 50px;
}
.studio-musgrave{
    margin-left: 50px;
}
.studio-two{
    width: 500px;
    text-align: left;
}
.image-studio-cont{
    margin: 0 auto;
    max-width: 278px;
}
.studio-section-two{
    display: flex;
    justify-content: center;
    padding: 25px;
    margin: 0 auto;
    align-items: center;
    flex-direction: row-reverse;
}
.schedules{   
display: flex;
flex-direction: column;
align-items: center;
margin: 50px 0px;
}

.schedule-img-cont{
    max-width: 800px;
    margin-top: 29px;
}

.line-cont{
    padding: 50px 0px;
    max-width: 1006px;
    margin: 0 auto;
}
.line{
    border: 0.5px solid #C5A840;
    color: #C5A840;
    width: 100%;
}
.consultation{
    margin: 0 auto;
    text-align: center;
    width: 500px;
    padding-bottom: 51px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* about */
.image-about-cont{
    margin: 0 auto;
    max-width: 880px;
    padding: 40px 0px;
}
.card-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card-border{
    width: 284px;
    height: 367px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    margin: 20px;
}
.image-card-cont{
    height: 309px;
    padding: 7px 10px;
    border-radius: 4px;
    height: 309px;
    border-radius: 4px;
}
.init-card{
    font-size: 13px;
    color: #2e5a52;
    text-transform: uppercase;
    font-family: 'Inter';
    letter-spacing: 4px;
    margin-top: 15px;
}
.card-subtitle{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #C5A840;
margin-top: 5px;
}
.card-images{
    height: 280px;
    width: 263px;
    background: #2e5a52;
    padding: 9px 10px;
    border-radius: 6px;
}
.section-policies{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0px;
}
.numerals{
    list-style-type: decimal;
    text-align: left;
}
/* classes */
.subtitle{
    color: #C5A840;
    font-family: 'Inter';
    max-width: 593px;
    margin: 0 auto;
    padding: 16px;
    line-height: 23px;
    font-weight: 300;
}
.class-container{
    display: flex;
    padding: 60px 0px 60px 0px;
    margin: 106px 0px 50px 0px;
    max-width: 880px;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
}
.class-text{
    color: #2E5A52;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    margin: 16px 0px;
}
.classes-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.classes-container a {
    text-decoration: none;
}
.class-border{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    margin: 20px;
    background: #2e5a52;
}
.class-images{
    height: 89px;
    width: 127px;
    padding: 9px 10px;
    border-radius: 6px;
}
.class-subtitle{
    color: white;
    font-size: 14px;
    font-weight: 300;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
}
/* workshops */
.subtitle-workshop{
    color: #2E5A52;
    max-width: 600px;
    margin: 0 auto;
    padding: 16px;
    font-size:20px;
    line-height: 23px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
}
.workshop-section {
    display: flex;
    justify-content: center;
    padding: 25px;
    margin: 0 auto;
}
/* prices */
.price-container{
    color: #2E5A52;
    display: flex;
    max-width: 863px;
    justify-content: space-between;
    margin: 0 auto;
}
.price-title h4{
  font-size: 25px;
  font-family: 'Lora';
  max-width: 394px;
  margin-top: 24px;
}
.price-title p {
    font-size: 16px;
    font-weight: 300;
}
.prices{
    display: flex;
    line-height: 40px;
    font-weight: 300;
}
.prices ul{
    list-style: none;
}
.price-line{
    padding: 20px 0px;
    max-width: 1006px;
    margin: 0 auto;
}
/* contact page */
.map-container{
    display: flex;
justify-content: center;
    margin: 0 auto;
    padding-top:40px;
    padding-bottom:40px;
}
.map-title{
display: flex;
color: #2e5a52;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
margin-bottom: 10px;
}
.map-frame{
    width:584px;
    margin:10px;
}
.contact-container{
    display: flex;
    color: #2E5A52;
    justify-content: center;
    padding: 25px;
    margin: 0 auto;
}
.info-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 643px;
}
.details-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}
.info-li{
    list-style: none;
    font-weight: 300;
    padding:0px;
}

  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 994px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 760px) {
    .price-container{
        flex-direction: column;
    }
  }

  @media screen and (max-width: 366px) {
    .prices{
        flex-direction: column;
    }
  }